<%- contentFor('body') %>
<center>
    <div class="content">
        <h1><%= item.foodname %></h1>
        <h4>
            <%= item.addTime %>
        </h4>
        <h3><%= item.username %></h3>
        <img class="top-pic" src="<%= item.picUrl %>" alt="">
        <%- item.detail %>
    </div>
</center>
<style>
.content{
    width: 60vw;
    text-align: left;
}
h4, h3{
    color: grey;
}
.top-pic{
    width: 100%;
}
</style>