<%- contentFor('body') %>

<table id="food" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>图片</th>
            <th>商品名</th>
            <th>发布时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <% list.forEach(function(l){ %>
        <tr>
            <td><img class="snap-shot" src="<%- l.picUrl %>" alt=""></td>
            <td><%- l.foodname %></td>
            <td><%- l.addTime %></td>
            <td><a style="cursor:pointer" onclick="deleteGood('<%- l._id %>')">删除</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<style>
    .snap-shot {
        width: 100px;
    }
</style>
<script>
    var deleteGood = function (id) {
        $.get('/admin/food/delete', {
            id,
        }, function (res) {
            if (res.code === 200) {
                alert('删除成果');
                window.location.reload();
            }
            console.log(res);
        })
    }
    $(function () {
        $('#food').DataTable()
    })
</script>