<%- contentFor('body') %>

<table id="menu" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>菜单名</th>
            <th>用户</th>
            <th>添加时间</th>
        </tr>
    </thead>
    <tbody>
        <% list.forEach(function(l){ %>
        <tr>
            <td><%- l.menuname %></td>
            <td><%- l.username %></td>
            <td><%- l.addTime %></td>
            <td><a style="cursor:pointer" onclick="deleteItem('<%- l._id %>')">删除</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<style>
    .snap-shot {
        width: 100px;
    }
</style>
<script>
    var deleteItem = function (id) {
        $.get('/admin/menu/delete', {
            id,
        }, function (res) {
            if (res.code === 200) {
                alert('删除成果');
                window.location.reload();
            }
            console.log(res);
        })
    }
    $(function () {
        $('#menu').DataTable()
    })
</script>